//
// .main-content-holder {
//       min-height: 700px;
//     }
// .invoice-signs-block {
//     padding-top : 20px;
//     .approved  {
//             text-align : center ;
//         }
// .company {
//     text-align : right ;
//         }
//
//     .holder {
//         display: inline-block;
//     border-top: 1px solid #dfdfdf;
//     padding: 5px 10px;
//         }
//  }
//
//  .lorca-header  {
//      .img-logo  {
//          width:40px !important;
//          }
//
//      .img-logo-2 {
//            width:80px !important;
//            margin-left : 10px;
//            display:inline-block !important;
//            position : relative;
//            top : 25px;
//          }
//
// padding-top : 10px;
//      .brand {
//          .yahoo {
//                  font-size: .9rem;
//     font-weight: 500;
//     margin-top: 10px;
//       color: #917f5e;
//              }
//          }
//
//      .info {
//              padding-top: 15px;
//          .line {
//                  text-align: right;
//                              font-size: .8rem;
//     font-weight: 500;
//     margin-top: 5px;
//       color: #917f5e;
//              }
//          }
//      .text {
//          text-align : center;
//          color: #917f5e;
//     font-size: 1.3rem;
//          }
//
//      .building , .location {
//
//     font-size: .9rem;
//     font-weight: 500;
//     margin-top: 5px;
//          }
//
//
//      }
//
//  .o_report_layout_wave {
// //      border-top: 1px solid #d9d9d9 !important;
//      padding-top : 15px !important;
//      }
//
//  .o_footer_content  {
//          text-transform: lowercase !important;
//         border-top: 1px solid #d9d9d9 !important;
//        padding-bottom : 20px !important;
//          font-size: .9rem !important;
//     text-align: left .9rem !important;
//     padding-top: 20px !important;
//      }

.custom-header-holder {
    .image-holder {


    .border-holder {
               padding-top : 15px;
           border-bottom: 4px solid #af944e;
        }
    }
.header-content {

.border-holder {
         padding-top : 26px;
       border-bottom: 4px solid #204578;
       margin-left : 5px;
    }

    text-align:right;
    color : #204578;
        padding-top: 40px;

        .ar-header {
                font-weight: bold;
    font-size: 22px;
            }

        .ar-description {
                        font-weight: bold;
                        padding-right : 70px;



    font-size: 17px;


            }

        .en-header {
            color : #af944e !important;
              text-transform: uppercase;
                     font-weight: bold;
                       font-size: 18px !important;

                          .description {



                  font-size: .9rem !important;


            }

            }


    }

.logo {
            max-width: 150px;

    }
    }

.custom-footer-holder {
.content-holder {

    .first-part {
        height: 60px;
    background: #af944e;
    border-top-right-radius: 10px;

        }

      .second-part {
        height: 60px;
    background: #204578;
    border-top-left-radius: 10px;

        }
    }

.first-elements ,.second-elements {
        text-align: center;
    color: #4a4a4a;

    i {
        color : #af944e !important;
        margin-right : 2px;
        }

    .content-block {
    display : inline;

    }
.content-block:nth-of-type(2) {
margin-left : 30px ;
margin-right : 30px;

    }

    }

.second-elements {
    padding-top : 10px !important;
    .content-block {
//         margin-left : 13px ;
//             margin-right : 13px ;
        }
    }
    }
