<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_de_assignment_root" name="Assignments" sequence="100"
                  web_icon="dekad_assignment,static/description/icon.png"
                  groups="dekad_assignment.group_de_assignment,dekad_core.group_de_teacher"
        />


        <menuitem id="menu_de_assignment" name="Assignments"
                  parent="menu_de_assignment_root" sequence="10"
                  action="act_open_de_assignment_view"
        />

        <menuitem id="menu_de_assignment_submission" name="Submissions"
                  parent="menu_de_assignment_root" sequence="20"
                  action="act_open_de_assignment_submission_view"
        />

        <menuitem id="menu_de_assignment_configuration"
                  name="Configuration"
                  parent="menu_de_assignment_root"
                  sequence="30"
        />


        <menuitem id="menu_de_assignment_type" name="Assignments Types"
                  parent="menu_de_assignment_configuration" sequence="10"
                  action="act_open_de_assignment_type_view"
        />
    </data>
</odoo>
