<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_de_attendance_root"
                  name="Attendance"
                  sequence="130"
                  web_icon="dekad_attendance,static/description/icon.png"
                  groups="dekad_attendance.group_de_attendance,dekad_core.group_de_teacher"
        />


        <menuitem id="menu_de_attendance_sheet"
                  name="Daily sheets"
                  parent="menu_de_attendance_root"
                  sequence="10"
                  action="act_open_de_attendance_sheet_view"
        />

        <menuitem id="menu_de_attendance_line"
                  name="Student attendance"
                  parent="menu_de_attendance_root"
                  sequence="20"
                  action="act_open_de_attendance_line_view"
        />
    </data>
</odoo>
