.order-container {
    .orderline {
line-height: 1.5 !important;
        }
    }

.pos-receipt{
    .pos-receipt-contact {
 font-size: 100% !important;
        }
    }

.pos-receipt .pos-receipt-order-data {
 font-size: 100% !important;
}